@if (specSheet && bowler) {
    <header class="specSheetHeading">
        {{ specSheet.name }}
    </header>
    <ion-grid>
        <ion-row class="finger-oval-wrapper">
            <ion-col class="finger-left">
                <ion-label id="left-finger-label" class="finger-label">Oval</ion-label>
                <div id="left-finger-content" class="finger-content">
                    <!-- add something later -->
                </div>
            </ion-col>
            <ion-col class="finger-right">
                <ion-label id="right-finger-label" class="finger-label">Oval</ion-label>
                <div id="right-finger-content" class="finger-label">
                    <!-- add something later -->
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="finger-wrapper">
            <ion-col id="left-finger-arrow-wrapper">
                <app-pitch-box [pitch]="bowler.rightHanded ? specSheet.data.middleFinger.vertical : specSheet.data.ringFinger.vertical" />
            </ion-col>
            <ion-col id="left-finger-cut-wrapper">
                <app-circular-cut />
            </ion-col>
            <ion-col id="right-finger-cut-wrapper">
                <app-circular-cut />
            </ion-col>
            <ion-col id="right-finger-arrow-wrapper">
                <app-pitch-box [pitch]="bowler.rightHanded ? specSheet.data.ringFinger.vertical : specSheet.data.middleFinger.vertical" />
            </ion-col>
        </ion-row>
        @if (specSheet.data.thumb) {
            <ion-row>
                <ion-col>
                    {{ bowler.rightHanded ? 'middle cut' : 'ring cut' }}
                </ion-col>
                <ion-col>
                    {{ bowler.rightHanded ? 'ring cut' : 'middle cut' }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    {{ bowler.rightHanded ? 'middle actual' : 'ring actual' }}
                </ion-col>
                <ion-col>
                    {{ bowler.rightHanded ? 'ring actual' : 'middle actual' }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <app-pitch-box [pitch]="specSheet.data.thumb.pitch.vertical" />
                </ion-col>
                <ion-col>
                    <app-circular-cut />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    thumb oval
                </ion-col>
            </ion-row>
        }
    </ion-grid>
}
@else {
    <div>
        No Sheet Found
    </div>
}